<!DOCTYPE html>
<html>

<head>
  <title>Test Document</title>
  <link rel="stylesheet" type="text/css" href="vue-test.css" />
  <script src="https://unpkg.com/vue"></script>
</head>

<body>

  <!--<span id="test1">Message: {{ (bool ? 'Yes' : 'No' ) + ', answer = ' + (num*2) }}</span>

  <div id="test2" v-html="rawHtml"></div>

  <img :src="imagesource" id="image" width=300 style="border: 2px solid black; margin: 15px" />
  
    :src entspricht v-bind:src (shortcut)
    statt v-on:click geht auch @click
  

  <div class="directives" v-if="visible">THIS IS SPARTA!</div>

  <span id="filter">{{ text | togglecase('hallo') }}</span>

  <div id="computed1">
    <p>Original message: "{{ message }}"</p>
    <p>Computed reversed message: "{{ reversedMessage }}"</p>
  </div>

  <div :class="{error : isInvalid}" id="classbindtest">errortext</div>

  <br>
  <span id="styletest" :style="styleObj">styletest</span>

  <ul id="fortest">
    <li v-for="item in items">{{ item.msg }}</li>
  </ul>

  <div id="fortest10">
    <span v-for="n in 10">{{ n }}</span>
  </div>

  <input @keyup.alt.enter="msg" placeholder="Alt+Enter to alert" id="msgBtn"></input>

  <p>test</p>

  <div id="radiovmodel">
    <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
    <label for="jack">Jack</label>
    <input type="checkbox" id="john" value="John" v-model="checkedNames">
    <label for="john">John</label>
    <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
    <label for="mike">Mike</label>
    <br>
    <span>Checked names: {{ checkedNames }}</span>
  </div>-->


  <!-- components -->

  <!--<div id="example">
    <my-component></my-component>
    <my-comp></my-comp>
  </div>-->

  <div id="navbar">
    <nav-bar>
      <nav-bar-el :active="true" v-on:hover="hovered" linked="home">Home</nav-bar-el>
      <nav-bar-el linked="about">About</nav-bar-el>
      <nav-bar-el src="http://www.wikipedia.de" :style=this.styleObj>Wikipedia</nav-bar-el>
      <nav-bar-el src="test.html">HTML/CSS/JS-Test</nav-bar-el>
      <nav-bar-el float="right">This is useless</nav-bar-el>
      <!--<component :is="mycomp">Test</component>-->
    </nav-bar>
  </div>

  <div id="content">
    <p>start</p>
    <keep-alive>
      <component id="contentComponent" :is="selectedTab">Component-Test</component>
    </keep-alive>
    <p>end</p>
  </div>

  <script src="vue-test.js"></script>
</body>

</html>